<% provide(:title, "Edit Profile") %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2 class="user_header page-header" style="margin-top: 0px;">Editing My Profile Information</h2> 
    </div>
  </div>

  <div class="row">
    <%= render 'shared/personal_settings' %>

    <div class="col-md-6 col-md-offset-1">

    <h2 class="user_header text-center" style="margin-bottom: 20px;">Profile settings 
       <span class="btn btn-default user_header">Basic</span>
    </h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <div class="form-group">
          <%= f.label :password, "New password" %> 
          <% if @minimum_password_length %>
            <i>(<%= @minimum_password_length %> characters minimum)</i>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <p class="help-block">
            leave blank if you don't want to change it
          </p>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="page-header" style="margin-top: 10px;"></div>

        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          <p class="help-block">we need your current password to confirm your changes</p>
        </div>
        
        <div class="breadcrumb" style="margin-top: 25px; margin-bottom: 25px;">

          <%= f.submit "Save Changes", class: "btn btn-primary" %> 
          
          <!-- Add link here-->
          <button type="button" class="btn btn-default" style="margin-left: 20px;">Back</button>
          
        </div>

      <% end %>

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Delete Account</h3>
        </div>
        <div class="panel-body">
          <p>
            Unhappy with CodeZen? You can delete your account at any time. Unfortunately, this process can not be undone.
            
            <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"%>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>


