<% provide(:title, "Register")%>

<style>
  body {
		background-color: #0c2944;
  }

	.logo {
		width: 100% \9;
	}
</style>


<div class="container" style="margin-top: -20px;">
	<div class="row">
		<div class="col-md-5 col-md-offset-4">
			<!--<h1 class="text-center auth_header"> CodeZen </h1> -->
			<a href="<%= root_path %>">
        
				 <%= image_tag 'logo.svg', class: "img-responsive center-block  auth_header logo", width: 170, height: 51 %> 

			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 col-md-offset-4">
		<div class="card-box">
		
				<h2 class="page-header text-center text-uppercase m-t-t" style="font-size: 20px;"> Register </h2>

				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			   	
					 <%= render 'shared/error_messages', object: f.object%>

					 <div class="form-group">
							<%= f.label :first_name %>
							<%= f.text_field :first_name, autofocus: true, class: "form-control" %>
						</div>

						<div class="form-group">
							<%= f.label :last_name %>
							<%= f.text_field :last_name, class: "form-control" %>
						</div>

						<div class="form-group">
							<%= f.label :email %>
							<%= f.email_field :email, class: "form-control" %>
						</div>
							<div class="form-group">
										<%= f.label :password %>
										<% if @minimum_password_length %>
										<em>(<%= @minimum_password_length %> characters minimum)</em>
										<% end %>
										<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :password_confirmation %><br />
								<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
							</div>

								<%= f.submit "Register", class: "btn btn-success btn-block" %>

								<p class="auth_help" style="margin-top:20px; margin-bottom: 10px;">
									By clicking on <b>"Register"</b> I agree to Teamstack <%= link_to 'Terms', terms_path, class: "forgot_link" %> and <%= link_to 'Privacy policy', privacy_path %>.
							</p>
				<% end %>

	</div> <!-- End cardbox-->			
					<div class="links text-center">
						<span style="color: #797979;">Already have an account?</span> <%= render "devise/shared/links" %>
					</div>
			</div>
		</div>
</div>