<% provide(:title, "Edit Connections") %>

<div class="container">

  <%= render 'shared/flash_message' %>

  <div class="row">
    <%= render 'shared/personal_settings' %>

    <div class="col-md-5 col-md-offset-1">

      <h2 class="user_header text-center" style="margin-bottom: 20px;">
        Connections settings 
      </h2>

      <%= form_for(current_user, url: users_connections_path , html: { method: :put }) do |f| %>
      
        <%= render 'shared/error_messages', object: f.object %>
         
         <div class="form-group">
            <%= f.label :skill, "Primary Skill" %>
            <%= f.select :skill, options_for_select(skill_select, current_user.skill), { prompt: "Select a Skill" }, class: "form-control country_select" %>
         </div>

        <div class="form-group">
          <%= f.label :bio %>
          <%= f.text_area :bio, class: "form-control", 
                                 placeholder: "Tell us some mouthwatering things about yourself. It may be helpful to include some things you have done previously.", maxlength: 250, rows: 4 
          %>
          <small>Max: 250 characters</small>
          <small id="counter" class="pull-right"></small>
        </div>

         <div class="form-group">
          <%= f.label :website %>
          <%= f.text_field :website, class: "form-control", placeholder: "https://www.example.com" %>
        </div>

         <div class="form-group">
          <%= f.label :twitter %>
          <%= f.text_field :twitter, class: "form-control", placeholder: "Twitter username"%>
        </div>

         <div class="form-group">
          <%= f.label :linkedin, "LinkedIn" %>
          <%= f.text_field :linkedin, class: "form-control", placeholder: "Profile url"%>
        </div>

        <div class="form-group">
          <%= f.label :github, "GitHub" %>
          <%= f.text_field :github, class: "form-control", placeholder: "Github username"%>
        </div>

        <div class="form-group">
          <%= f.label :avaliable, "Availability" %>
          <%= f.select :avaliable, options_for_select(avaliability, current_user.avaliable?), {}, class: "form-control country_select" %>
          <p class="help-block">When set to "Avaliable", a contact button will be displayed on your profile.</p>
        </div>

        <h3 class="page-header user_header">Location <small>This will help people find you better</small></h3>

        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :state %>
          <%= f.text_field :state, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :country %>
          <%= f.select :country, options_for_select(countries, current_user.country), { prompt: "Select Country" }, class: "form-control country_select" %>
        </div>

        <div class="clearfix"></div>
        <div class="breadcrumb">

         <%= f.submit "Update profile", class: "btn btn-primary" %> 
        
         <%= link_to 'Cancel', user_dashboard_path(current_user), class: "btn btn-default btn_cancel" %>
          
        </div>

      <% end %>
  </div>
</div>


