<div class="jumbotron main_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
        <a href="<%= edit_user_registration_path %>" class="btn btn-primary btn-outline" title="Edit profile">
          <i class="fa fa-cog fa-2x" aria-hidden="true" style="color:#fff;"></i>
        </a>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div style="avatar_holder"> 
            <%= gravatar_for_profile current_user, size: 50 %> 
          </div> <br>
          <div class="info_wrapper">
            <% if current_user.first_name || current_user.last_name != nil %>
              <span class="m-t-14 text_name text_white">
                <%= truncate_user_name(30) %>
              </span>
            <% end %> 
            <% if !current_user.first_name.blank? || !current_user.last_name.blank? %>
              <div class="text_email text_white">
                <%= current_user.email %>
              </div>
            <% end %>

            <% unless current_user.bio.blank? %>
              <div class="m-t-14">
                <span class="text_white"> <%= bio %> </span>
              </div>    
            <% end %>

            <% if !current_user.twitter.blank? || 
                  !current_user.website.blank? || 
                  !current_user.github.blank? || 
                  !current_user.linkedin.blank?  %>

              <div class="links">
                <% if !current_user.twitter.blank? %>
                  <a href="https://www.twitter.com/<%= current_user.twitter%>" class="web_links" target="_blank" title="Twitter">
                    <i class="fa fa-twitter-square fa-lg fa-fw"></i>
                  </a>
                <% end %>
                <% if !current_user.twitter.blank? %>
                  <a href="<%= current_user.website%>" class="web_links" target="_blank" title="Website">
                    <i class="fa fa-link fa-lg fa-fw"></i>
                  </a>  
                <% end %>
                <% if !current_user.github.blank? %>
                  <a href="https://www.github.com/<%= current_user.twitter%>" class="web_links" target="_blank" title="GitHub">
                    <i class="fa fa-github-square fa-lg fa-fw"></i>
                  </a>  
                <% end %>
                <% if !current_user.linkedin.blank? %>
                  <a href="https://www.linkedin.com/<%= current_user.linkedin%>" class="web_links" target="_blank" title="LinkedIn">
                    <i class="fa fa-linkedin-square fa-lg fa-fw"></i>
                  </a>
                <% end %>  <br>
      
                <div class="m-t-14">
                  <span class="text_white "> 
                    <i class="fa fa-map-marker fa-lg fa-fw"></i>
                    <%= city %><%= state %><%= country %>
                  </span>
                </div>
              </div>
            <% end %> 
            <div class="member text_white">
                  <%= member_time %>
            </div>
            
            <button type="button" class="btn btn-lg btn-outline btn-primary btn_contact" title="Contact <%= current_user.first_name %>">Contact <%= current_user.first_name %></button>
            
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding: 19px 20px 20px; margin-top: -30px; margin-bottom: 30px; background-color: #f5f5f5; border-bottom: 1px solid #eee; border-top: 1px solid #eee;">
  <div class="container">
    <div class="row">
    <div class="col-md-12">  
      <%= render 'shared/flash_message'%>
      <div class="col-md-2 stat">
        <span class="stat_label">Following <br>
          <span class="stat_value" style="font-weight: bold;">10</span>
        </span>

        <span class="stat_label">Followers <br>
          <span class="stat_value" style="font-weight: bold;">30</span>
        </span>
      </div>
    </div>
  </div>
  </div>
</div>