<% provide(:title, "Change password") %>

<style>
  body {
    background-color: #0d426d;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h2 class="text-center">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class: "btn btn-success btn-block" %>
          </div>
        <% end %>

        <div class="links">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>