    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                  There are <%= pluralize(@count, "help ticket") %> in total.
                </h2>
            </div>
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                HELP TICKETS
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                  <% @help.each_with_index do |f, index|%>
                                  <% index += 1 %>
                                    <tbody>
                                        <tr>
                                            <td> <%= index %></td>
                                            <td><%= f.user.first_name %> <%= f.user.last_name %></td>
                                            <td><%= f.description %></td>
                                            <% if current_user.admin? %>
                                              <td>
                                                <%= button_to 'Delete', admin_feedback_path(f), class: "btn btn-danger waves-effect", method: :delete, data: { confirm: "Are you sure you want to delete this user ?" } %>
                                              </td>
                                            <% end %>
                                        </tr>
                                    </tbody>
                                  <% end %>
                                </table>
                              <%= paginate @help %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->
        </div>
    </section>