<section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <%= image_tag 'user.png', width: '48', height: '48', alt: "img" %>
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_user.first_name %> <%= current_user.last_name%>
                    </div>
                    <div class="email"><%= current_user.email %></div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="<%= edit_user_registration_path %>"><i class="material-icons">person</i>Profile</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="<%= followers_user_path(current_user) %>"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="<%= following_user_path(current_user) %>"><i class="material-icons">favorite</i>Following</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="<%= admin_root_path %>">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= admin_users_path %>">
                            <i class="material-icons">group</i>
                            <span>Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">mail</i>
                            <span>Contact Messages</span>
                        </a>
                    </li>
                    <li class="header">FEEDBACKS</li>
                    <li>
                        <a href="<%= admin_feedback_bugs_path %>">
                            <i class="material-icons col-red">donut_large</i>
                            <span>Bug Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= admin_feedback_feature_requests_path %>">
                            <i class="material-icons col-light-blue">donut_large</i>
                            <span>Feature Request</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= admin_feedback_general_complaints_path %>">
                            <i class="material-icons col-amber">donut_large</i>
                            <span>General Complaints</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= admin_feedback_help_path %>">
                            <i class="material-icons col-indigo">donut_large</i>
                            <span>Help</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= admin_feedback_others_path %>">
                            <i class="material-icons col-green">donut_large</i>
                            <span>Other</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2017 <a href="javascript:void(0);">Teamstack | A product of Maplerad</a>.
                </div>
                <div class="version">
                    <b>Version: </b> Beta
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>