<nav class="navbar navbar-default navbar-fixed-top top_bar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%= link_to 'Teamstack', root_path, class: "navbar-brand brand_text" %>
    </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav_li">
            <%= link_to 'Home', root_path, class: "nav_link_text" %>
          </li>
          <li class="nav_li">
            <%= link_to 'Dashboard', user_dashboard_path(current_user), class: "nav_link_text" %>
          </li>
          <li class="nav_li">
            <%= link_to 'Information', information_path, class: "nav_link_text" %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav_link_text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
              <ul class="dropdown-menu">
            <li><a href="#">Information</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">News and Blog</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Feedback</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="<%= user_dashboard_path(current_user) %>">Dashboard</a></li>
                <li><a href="<%= users_connections_path %>"> Edit Profile</a></li>
            </ul>
          </li>
        </ul>

         <div class="col-sm-3 col-md-3 hidden-sm hidden-xs hidden-md">
            <form class="navbar-form" role="search" id="nav_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." name="q">
                <div class="input-group-btn">
                    <button class="btn btn-zen" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            </form>
        </div>
       <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="<%= root_path %>" class="dropdown-toggle" data-toggle="dropdown">  
                      <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                       <%= gravatar_for_nav current_user, size: 50 %>
                      </span>
                      <span class="user-name text_white">
                        <%= truncate_user_name(current_user.first_name, current_user.last_name, 30) %>
                      </span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="margin-top: 2px;">
                      <li>
                        <%= link_to 'Your dashboard', user_dashboard_path(current_user) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to 'Edit basic settings', edit_user_registration_path %>
                      </li>
                      <li>
                        <%= link_to 'Edit connection settings', users_connections_path %>
                      </li>
                      <li class="divider"></li>
                <li>
                        <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow" >Sign Out </a>
                     </li>
              </ul>
            </li>
        </ul>
      </div>
  </div>
</nav>