<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Teamstack - Admin Dashboard
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Favicon-->
   <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag 'admin/bootstrap', media: 'all' %>
    <%= stylesheet_link_tag 'admin/waves', media: 'all' %>
    <%= stylesheet_link_tag 'admin/animate', media: 'all' %>
    <%= stylesheet_link_tag 'admin/style', media: 'all' %>
    <%= stylesheet_link_tag 'admin/all-themes', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>

  <body class="theme-red">
    <%= render 'shared/admin_nav' %>
    <%= render 'shared/admin_left_sidebar' %>

    <%= yield %>

    <%= javascript_include_tag 'admin/jquery'%>
    <%= javascript_include_tag 'admin/bootstrap'%>
    <%= javascript_include_tag 'admin/bootstrap-select'%>
    <%= javascript_include_tag 'admin/jquery.slimscroll'%>
    <%= javascript_include_tag 'admin/waves'%>
    <%= javascript_include_tag 'admin/jquery.countTo'%>
    <%= javascript_include_tag 'admin/admin'%>
    <%= javascript_include_tag 'admin/index'%>
    <%= javascript_include_tag 'admin/demo'%>
  </body>
</html>