<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= full_title(yield :title) %>
    </title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/head_additions' %>
  </head>

  <body class="<%= controller.action_name %>">

  <noscript>
      <h1 style="color: red; margin-top: 30px;" class="text-center">This platform requires JavaScript activated.</h1>
      
      <style type="text/css">
        .container {
          display: none;
        }
      </style>
    </noscript>


    <% unless controller_name == "sessions" || 
              controller_name == "registrations" && 
              controller.action_name == "new" || 
              controller_name == "passwords" %>
      
      <% if user_signed_in? %>
        <%= render 'shared/usernav' %>
      <% else %>
        <%= render 'shared/header' %> 
      <% end %> 
    
    <% end %>

    <%= yield %>
    
    <% if controller_name == "pages" || 
          controller_name == "contacts" %>
        
        <div style="margin-top: 30px;">
            <%= debug(params) if Rails.env.development? %>      
        </div>
    <% end %>
    
    
    <% unless controller_name == "sessions" || 
              controller_name == "registrations" && 
              controller.action_name == "new" || 
              controller_name == "passwords" %>
              
          <%= render 'shared/footer' %>
          
    <% end %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
  </body>
</html>